@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
      
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
   background-color: hsl(30, 38%, 92%);
   display: flex;
   justify-content: center;
   align-items: center;
   
}
#caix1 img{
   object-fit: cover; 
   max-width: 100%; 
   
}
h1{
   font-family: 'Fraunces','Times New Roman', Times, serif;
   display: inline-block;
   line-height: 32px;
}
p{
   font-family: 'Montserrat','Segoe UI', Tahoma, Verdana, sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   color: hsl(228, 12%, 48%);
}
#preco{
   font-family: 'Fraunces','Times New Roman', Times, serif;
   font-weight: 500;
   display: contents;
   color: hsl(228, 12%, 48%);
}
footer{
   font-family: 'Montserrat','Segoe UI', Tahoma, Verdana, sans-serif;
   font-weight: 500;
   text-align: center;
   background-color:hsl(158, 36%, 37%) ;
   color: white;
   border-radius: 10px;
   font-size: 15px;
}
footer:hover{
   background-color: hsl(158, 42%, 18%);
   font-weight: 700;
}
@media (min-width: 541px) {
   body{
     height: 97dvh;
   }
   main{
      display: flex;
      border-radius: 10px;
      width: 600px;
   }
   div{ 
      width: 50%;
      background-color: white;
   }
   #caix1{
      border-radius: 10px 0px 0px 10px;
      background-color: white;
      padding: 20px 30px;
      background-image: url(imagens/image-product-desktop.jpg);
      background-size: cover;
   }
   #caix2{
      border-radius: 0px 10px 10px 0px;
      padding: 20px 30px;
   }
   
   #preco p{
      text-decoration: line-through;
   }
   span{
      padding-left: 5px;
   }
   footer{
      padding: 15px;
      margin: 20px 0px;
      
   }
   
   
}
@media (max-width: 540px) {
   *{
      margin: 0;
   }
   body{
      height: 100dvh;
   }
   main{
      width: 90%;
      background-color: white;
      border-radius: 10px;
   }
   #caix1{
      border-radius: 10px 10px 0px 0px ;
      width: 100%;
      height: 243px;
      background-image: url('imagens/image-product-mobile.jpg');
      background-size: cover;
   }
   
   #caix2{
      padding: 0px 30px 15px 30px;
   }
   p{
      margin: 20px 0px 10px 0px;
   }
   #preco p{
      display: inline-block;
      font-size: 13px;
      padding: 0px 37px;
      text-decoration: line-through;
   }
   span{
      padding-left: 5px;
   }
   footer{
      padding: 20px;
      margin: 15px 0px;
   }
}