@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
   margin: 0%;
   padding: 0%;
   font-family: 'Red Hat Display','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
   width: 100vw;
   height: 100vh;
   background-color:  hsl(225, 100%, 94%);
}
div{
   width: 100%;
   height: 100%;
   background-repeat: no-repeat; 
   background-size: contain; /*adaptar a imagem melhor*/
   
   align-items: center;
   justify-content: center;
   display: flex;
}
main{
   background-color: white;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0px 8px 19px 0px hsla(224, 23%, 55%, 0.474);
}
section{
   text-align: center;
   padding: 25px;
}
#fist{
   width: 100%;
}
h1{
   font-weight: 900;
   padding: 10px;
   color:  hsl(223, 47%, 23%);  
} 
p{
   padding: 10px;
   margin: auto;
   font-size: 16px;
   font-weight: 500;
   color: hsl(224, 23%, 55%);
   line-height: 0.8cm;
}
#one p{
   margin-left: 15px;
   padding: 3px;
   text-align: left;
   line-height: normal;
      
}
a{
   padding: 10px;
   font-weight: 700;
   color: hsl(245, 75%, 52%);
}
a:hover{
   text-decoration: none;
   color: hsla(245, 75%, 52%, 0.677);
}
#two{
   font-weight: 700;
   color: white;
   background-color: hsl(245, 75%, 52%);
   padding: 15px;
   margin-bottom: 20px;
   border-radius: 10px;
   box-shadow: 0px 8px 19px 0px hsla(224, 23%, 55%, 0.474);
}
#two:hover{
   background-color: hsla(245, 75%, 52%, 0.677);
}
footer{
   font-weight: 900;
   color: hsl(224, 23%, 55%);
   width: 150px;
   margin: 0px auto 20px;
}
footer:hover{
   color: hsl(223, 47%, 23%);
}
@media (min-width:500px){
   div{
      background-image: url(images/pattern-background-desktop.svg);
      
   }
   main{
      width: 450px;
      height: 700px;
   }
   p{
      width: 300px;
   }
   #one{
      display: flex;
      padding: 20px;
      background-color: hsl(225, 100%, 98%);
      border-radius: 10px;
      margin: 10px 10px 30px 10px;
   }
   #two{
      margin: 30px 20px;
   }
}
@media (max-width:499px){
   div{
      background-image: url(images/pattern-background-mobile.svg);

   }
   main{
      width: 90%;
      height: 94%;
   }
   section{
      text-align: center;
      padding: 10px;
      margin: 20px;
   }
   p{
      width: 260px;
   }
   #one{
      display: flex;
      padding: 20px;
      background-color: hsl(225, 100%, 98%);
      border-radius: 10px;
      margin: 10px 0px 30px 0px;
   }
   #two{
      margin-bottom: 20px;
   }
}   
