@charset "UF-8";

*{
   margin: 0;
   padding: 0%;
}
body{
   background-image: url(imagens/fundo.jpg);
   background-position: top center; 
   background-repeat:  no-repeat; 
   background-size: cover;
   height: 100vh;
   background-attachment: fixed;  
   display: flex; 
   overflow: hidden;
}
#conteiner, section{
   overflow: auto; 
}
#conteiner{  /*o celular*/
   background-image: url(imagens/telefone.webp);
   background-repeat: no-repeat;
   width: 328px;
   height: 636px;
   overflow: hidden; /* assim o negocio de rolar não vai aparecer, mesmo que o conteudo saia pra fora*/
   position: relative;
   
   left: 50%;
   transform: translate(-50%, 4%); /*mantem o celular na meio*/
}
iframe{
   background-color: black;
   position: absolute;
   top: 10px;
   left: 13px;
   width: 304px;
   height: 620px;
   padding: 1px;
   border-radius: 42px;

}
section{ /*barra de menu*/
   width: 87px;
   margin: 15px 0px;
   padding: 5px;
   margin-left: auto;
}
nav img{
   box-shadow: 12px 9px 13px 0px black;
   border: 1px solid black;
   width: 40px;
   padding: 10px;
   border-radius: 50%;
   margin-bottom: 10px;
   position: relative;
   
}
a{
   text-decoration: none;
}
nav img:hover{
   border: 2px solid rgba(255, 255, 255, 0.6);
   transform: translate(-3px, -3px);
   box-shadow: 12px 9px 13px 0px black;
   transition: transform  .5s, boder  ;
}